<h3 class="welcome">Welcome {{name}}</h3>
<p>Here are your blogs</p>
<br>
{{#if blogs}}
<table class="striped bg" >
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
        <tbody>
        {{#each blogs}}
        <tr>
            <td><a href="/blogs/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/blogs/edit/{{_id}}" class="btn btn-float orange darken-1">
                    <i class="fas fa-edit fa-cog"></i>
                </a>
                <form action="/blogs/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red darken-1">
                        <i class="fas fa-trash fa-cog"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any blogs</p>
{{/if}}